@import '../../scss/_variables';

.filter-projects {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;

    li {
        margin-right: 10px;
        padding: 1px 20px;
        background-color: $secondary-color;
        font-weight: 500;

        &:hover {
            background-color: $hero-fontcolor;
            color: white;
            cursor: pointer;
        }
    }
}

.selected-filter {
    background-color: $primary-color !important;
    color: white !important;
}

.projects-list {
    display: block;
}

.project-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;

    > div {
        display: flex;
    }

    > div:nth-child(2) {
        padding-left: 50px;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
}

.project-image {
    width: 100%;
    height: auto;
    border: 1px solid $secondary-color;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin: 0 auto;

    &:hover {
        cursor: pointer;
        -webkit-filter: none;
        fill: none;
    }
    &:focus {
        cursor: pointer;
        -webkit-filter: none;
        fill: none;
    }
}

.project-name {
    margin: 0px auto;
    font-size: 1.75em;
    font-weight: 600;
}

.project-desc {
    margin: 5px auto;
    font-size: 0.85em;
    font-weight: 200;
    line-height: 1.45em;
}

.project-technologies {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
    margin: 30px auto;
    list-style: none;
    font-size: 0.65em;

    > li {
        display: inline-flex;
        background-color: $secondary-color;
        line-height: 2em;
        padding: 0px 10px;
        margin: 0px 2px;
    }
}

.project-urls {
    display: flex;
    justify-content: flex-start;
    font-size: 0.85em;

    > a {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 200px;
        height: 50px;
        margin-right: 100px;
        border: 1px solid $secondary-color;
        padding: 10px;
    }
}

.globe-icon,
.github-icon {
    height: 28px;
    width: 28px;
}

@media only screen and (min-width: 768px) {
    .project-row {
        display: flex;
        flex-direction: row;
    }
    .project-image {
        width: 400px;
    }
}

@media only screen and (min-width: 992px) {
    .project-image {
        width: 500px;
    }
}
