@import '../../scss/_variables';


.header-mobile {
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: 100px;
}

.burgerMenu-container{
  display: flex;
  background-color: $secondary-color;
  justify-content: right;
  width:50%;
}

.logo-mobile-container{
  display: flex;
  background-color: $secondary-color;
  justify-content: center;
  height: 120px;
  text-align: left;
  padding-left:20px;
  padding-right:20px;
}




@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
}