@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@100;300;400;500&display=swap");
body {
  margin: auto;
  padding: auto;
}

.padding-left-50 {
  padding-left: 50px;
}
